<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softmall.core.dao.mapper.ShopMapper">
    <resultMap id="BaseResultMap" type="com.softmall.core.dao.dataobject.ShopDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="seller_id" jdbcType="BIGINT" property="sellerId"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="area_code" jdbcType="BIGINT" property="areaCode"/>
        <result column="address_detail" jdbcType="VARCHAR" property="addressDetail"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="brand_name" jdbcType="VARCHAR" property="brandName"/>
        <result column="attributes" jdbcType="CHAR" property="attributes"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, seller_id, shop_name, area_code, address_detail, longitude, 
    latitude, brand_name, attributes, status
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shop
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.softmall.core.dao.dataobject.ShopDO">
    insert into shop (id, gmt_create, gmt_modified, 
      seller_id, shop_name, area_code, 
      address_detail, longitude, latitude, 
      brand_name, attributes, status
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{sellerId,jdbcType=BIGINT}, #{shopName,jdbcType=VARCHAR}, #{areaCode,jdbcType=BIGINT}, 
      #{addressDetail,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{brandName,jdbcType=VARCHAR}, #{attributes,jdbcType=CHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.softmall.core.dao.dataobject.ShopDO">
        insert into shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="sellerId != null">
                seller_id,
            </if>
            <if test="shopName != null">
                shop_name,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="addressDetail != null">
                address_detail,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="brandName != null">
                brand_name,
            </if>
            <if test="attributes != null">
                attributes,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="sellerId != null">
                #{sellerId,jdbcType=BIGINT},
            </if>
            <if test="shopName != null">
                #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=BIGINT},
            </if>
            <if test="addressDetail != null">
                #{addressDetail,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="attributes != null">
                #{attributes,jdbcType=CHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.softmall.core.dao.dataobject.ShopDO">
        update shop
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="sellerId != null">
                seller_id = #{sellerId,jdbcType=BIGINT},
            </if>
            <if test="shopName != null">
                shop_name = #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=BIGINT},
            </if>
            <if test="addressDetail != null">
                address_detail = #{addressDetail,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="brandName != null">
                brand_name = #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="attributes != null">
                attributes = #{attributes,jdbcType=CHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.softmall.core.dao.dataobject.ShopDO">
    update shop
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      seller_id = #{sellerId,jdbcType=BIGINT},
      shop_name = #{shopName,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=BIGINT},
      address_detail = #{addressDetail,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      attributes = #{attributes,jdbcType=CHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectPagedShops" parameterType="com.softmall.core.dao.dataobject.ShopDO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shop
        where 1 = 1
    </select>
</mapper>