<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softmall.core.dao.mapper.TradeOrderMapper">
    <resultMap id="BaseResultMap" type="com.softmall.core.dao.dataobject.TradeOrder">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="biz_order_id" jdbcType="BIGINT" property="bizOrderId"/>
        <result column="seller_id" jdbcType="BIGINT" property="sellerId"/>
        <result column="seller_nick_name" jdbcType="VARCHAR" property="sellerNickName"/>
        <result column="buyer_id" jdbcType="BIGINT" property="buyerId"/>
        <result column="buyer_nick_name" jdbcType="VARCHAR" property="buyerNickName"/>
        <result column="is_main" jdbcType="VARCHAR" property="isMain"/>
        <result column="is_detail" jdbcType="VARCHAR" property="isDetail"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_paid" jdbcType="TIMESTAMP" property="gmtPaid"/>
        <result column="gmt_end" jdbcType="TIMESTAMP" property="gmtEnd"/>
        <result column="gmt_send" jdbcType="TIMESTAMP" property="gmtSend"/>
        <result column="item_quantity" jdbcType="INTEGER" property="itemQuantity"/>
        <result column="item_price" jdbcType="DECIMAL" property="itemPrice"/>
        <result column="item_amount" jdbcType="DECIMAL" property="itemAmount"/>
        <result column="item_id" jdbcType="BIGINT" property="itemId"/>
        <result column="item_title" jdbcType="VARCHAR" property="itemTitle"/>
        <result column="actual_paid_fee" jdbcType="DECIMAL" property="actualPaidFee"/>
        <result column="post_fee" jdbcType="DECIMAL" property="postFee"/>
        <result column="discount_fee" jdbcType="DECIMAL" property="discountFee"/>
        <result column="refund_fee" jdbcType="DECIMAL" property="refundFee"/>
        <result column="pay_status" jdbcType="VARCHAR" property="payStatus"/>
        <result column="logistic_status" jdbcType="VARCHAR" property="logisticStatus"/>
        <result column="attributes" jdbcType="CHAR" property="attributes"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, biz_order_id, seller_id, seller_nick_name, buyer_id, buyer_nick_name, is_main, 
    is_detail, gmt_create, gmt_paid, gmt_end, gmt_send, item_quantity, item_price, item_amount, 
    item_id, item_title, actual_paid_fee, post_fee, discount_fee, refund_fee, pay_status, 
    logistic_status, attributes, status
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from trade_order
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trade_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.softmall.core.dao.dataobject.TradeOrder">
    insert into trade_order (id, biz_order_id, seller_id, 
      seller_nick_name, buyer_id, buyer_nick_name, 
      is_main, is_detail, gmt_create, 
      gmt_paid, gmt_end, gmt_send, 
      item_quantity, item_price, item_amount, 
      item_id, item_title, actual_paid_fee, 
      post_fee, discount_fee, refund_fee, 
      pay_status, logistic_status, attributes, 
      status)
    values (#{id,jdbcType=INTEGER}, #{bizOrderId,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}, 
      #{sellerNickName,jdbcType=VARCHAR}, #{buyerId,jdbcType=BIGINT}, #{buyerNickName,jdbcType=VARCHAR}, 
      #{isMain,jdbcType=VARCHAR}, #{isDetail,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtPaid,jdbcType=TIMESTAMP}, #{gmtEnd,jdbcType=TIMESTAMP}, #{gmtSend,jdbcType=TIMESTAMP}, 
      #{itemQuantity,jdbcType=INTEGER}, #{itemPrice,jdbcType=DECIMAL}, #{itemAmount,jdbcType=DECIMAL}, 
      #{itemId,jdbcType=BIGINT}, #{itemTitle,jdbcType=VARCHAR}, #{actualPaidFee,jdbcType=DECIMAL}, 
      #{postFee,jdbcType=DECIMAL}, #{discountFee,jdbcType=DECIMAL}, #{refundFee,jdbcType=DECIMAL}, 
      #{payStatus,jdbcType=VARCHAR}, #{logisticStatus,jdbcType=VARCHAR}, #{attributes,jdbcType=CHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.softmall.core.dao.dataobject.TradeOrder">
        insert into trade_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="bizOrderId != null">
                biz_order_id,
            </if>
            <if test="sellerId != null">
                seller_id,
            </if>
            <if test="sellerNickName != null">
                seller_nick_name,
            </if>
            <if test="buyerId != null">
                buyer_id,
            </if>
            <if test="buyerNickName != null">
                buyer_nick_name,
            </if>
            <if test="isMain != null">
                is_main,
            </if>
            <if test="isDetail != null">
                is_detail,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtPaid != null">
                gmt_paid,
            </if>
            <if test="gmtEnd != null">
                gmt_end,
            </if>
            <if test="gmtSend != null">
                gmt_send,
            </if>
            <if test="itemQuantity != null">
                item_quantity,
            </if>
            <if test="itemPrice != null">
                item_price,
            </if>
            <if test="itemAmount != null">
                item_amount,
            </if>
            <if test="itemId != null">
                item_id,
            </if>
            <if test="itemTitle != null">
                item_title,
            </if>
            <if test="actualPaidFee != null">
                actual_paid_fee,
            </if>
            <if test="postFee != null">
                post_fee,
            </if>
            <if test="discountFee != null">
                discount_fee,
            </if>
            <if test="refundFee != null">
                refund_fee,
            </if>
            <if test="payStatus != null">
                pay_status,
            </if>
            <if test="logisticStatus != null">
                logistic_status,
            </if>
            <if test="attributes != null">
                attributes,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="bizOrderId != null">
                #{bizOrderId,jdbcType=BIGINT},
            </if>
            <if test="sellerId != null">
                #{sellerId,jdbcType=BIGINT},
            </if>
            <if test="sellerNickName != null">
                #{sellerNickName,jdbcType=VARCHAR},
            </if>
            <if test="buyerId != null">
                #{buyerId,jdbcType=BIGINT},
            </if>
            <if test="buyerNickName != null">
                #{buyerNickName,jdbcType=VARCHAR},
            </if>
            <if test="isMain != null">
                #{isMain,jdbcType=VARCHAR},
            </if>
            <if test="isDetail != null">
                #{isDetail,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtPaid != null">
                #{gmtPaid,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtEnd != null">
                #{gmtEnd,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtSend != null">
                #{gmtSend,jdbcType=TIMESTAMP},
            </if>
            <if test="itemQuantity != null">
                #{itemQuantity,jdbcType=INTEGER},
            </if>
            <if test="itemPrice != null">
                #{itemPrice,jdbcType=DECIMAL},
            </if>
            <if test="itemAmount != null">
                #{itemAmount,jdbcType=DECIMAL},
            </if>
            <if test="itemId != null">
                #{itemId,jdbcType=BIGINT},
            </if>
            <if test="itemTitle != null">
                #{itemTitle,jdbcType=VARCHAR},
            </if>
            <if test="actualPaidFee != null">
                #{actualPaidFee,jdbcType=DECIMAL},
            </if>
            <if test="postFee != null">
                #{postFee,jdbcType=DECIMAL},
            </if>
            <if test="discountFee != null">
                #{discountFee,jdbcType=DECIMAL},
            </if>
            <if test="refundFee != null">
                #{refundFee,jdbcType=DECIMAL},
            </if>
            <if test="payStatus != null">
                #{payStatus,jdbcType=VARCHAR},
            </if>
            <if test="logisticStatus != null">
                #{logisticStatus,jdbcType=VARCHAR},
            </if>
            <if test="attributes != null">
                #{attributes,jdbcType=CHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.softmall.core.dao.dataobject.TradeOrder">
        update trade_order
        <set>
            <if test="bizOrderId != null">
                biz_order_id = #{bizOrderId,jdbcType=BIGINT},
            </if>
            <if test="sellerId != null">
                seller_id = #{sellerId,jdbcType=BIGINT},
            </if>
            <if test="sellerNickName != null">
                seller_nick_name = #{sellerNickName,jdbcType=VARCHAR},
            </if>
            <if test="buyerId != null">
                buyer_id = #{buyerId,jdbcType=BIGINT},
            </if>
            <if test="buyerNickName != null">
                buyer_nick_name = #{buyerNickName,jdbcType=VARCHAR},
            </if>
            <if test="isMain != null">
                is_main = #{isMain,jdbcType=VARCHAR},
            </if>
            <if test="isDetail != null">
                is_detail = #{isDetail,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtPaid != null">
                gmt_paid = #{gmtPaid,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtEnd != null">
                gmt_end = #{gmtEnd,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtSend != null">
                gmt_send = #{gmtSend,jdbcType=TIMESTAMP},
            </if>
            <if test="itemQuantity != null">
                item_quantity = #{itemQuantity,jdbcType=INTEGER},
            </if>
            <if test="itemPrice != null">
                item_price = #{itemPrice,jdbcType=DECIMAL},
            </if>
            <if test="itemAmount != null">
                item_amount = #{itemAmount,jdbcType=DECIMAL},
            </if>
            <if test="itemId != null">
                item_id = #{itemId,jdbcType=BIGINT},
            </if>
            <if test="itemTitle != null">
                item_title = #{itemTitle,jdbcType=VARCHAR},
            </if>
            <if test="actualPaidFee != null">
                actual_paid_fee = #{actualPaidFee,jdbcType=DECIMAL},
            </if>
            <if test="postFee != null">
                post_fee = #{postFee,jdbcType=DECIMAL},
            </if>
            <if test="discountFee != null">
                discount_fee = #{discountFee,jdbcType=DECIMAL},
            </if>
            <if test="refundFee != null">
                refund_fee = #{refundFee,jdbcType=DECIMAL},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus,jdbcType=VARCHAR},
            </if>
            <if test="logisticStatus != null">
                logistic_status = #{logisticStatus,jdbcType=VARCHAR},
            </if>
            <if test="attributes != null">
                attributes = #{attributes,jdbcType=CHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.softmall.core.dao.dataobject.TradeOrder">
    update trade_order
    set biz_order_id = #{bizOrderId,jdbcType=BIGINT},
      seller_id = #{sellerId,jdbcType=BIGINT},
      seller_nick_name = #{sellerNickName,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=BIGINT},
      buyer_nick_name = #{buyerNickName,jdbcType=VARCHAR},
      is_main = #{isMain,jdbcType=VARCHAR},
      is_detail = #{isDetail,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_paid = #{gmtPaid,jdbcType=TIMESTAMP},
      gmt_end = #{gmtEnd,jdbcType=TIMESTAMP},
      gmt_send = #{gmtSend,jdbcType=TIMESTAMP},
      item_quantity = #{itemQuantity,jdbcType=INTEGER},
      item_price = #{itemPrice,jdbcType=DECIMAL},
      item_amount = #{itemAmount,jdbcType=DECIMAL},
      item_id = #{itemId,jdbcType=BIGINT},
      item_title = #{itemTitle,jdbcType=VARCHAR},
      actual_paid_fee = #{actualPaidFee,jdbcType=DECIMAL},
      post_fee = #{postFee,jdbcType=DECIMAL},
      discount_fee = #{discountFee,jdbcType=DECIMAL},
      refund_fee = #{refundFee,jdbcType=DECIMAL},
      pay_status = #{payStatus,jdbcType=VARCHAR},
      logistic_status = #{logisticStatus,jdbcType=VARCHAR},
      attributes = #{attributes,jdbcType=CHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>