<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softmall.core.dao.mapper.UserActionMapper">
    <resultMap id="BaseResultMap" type="com.softmall.core.dao.dataobject.UserActionDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="action_type" jdbcType="VARCHAR" property="actionType"/>
        <result column="out_biz_id" jdbcType="VARCHAR" property="outBizId"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="attributes" jdbcType="CHAR" property="attributes"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, user_id, action_type, out_biz_id, comment, attributes, 
    status
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_action
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_action
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.softmall.core.dao.dataobject.UserActionDO">
    insert into user_action (id, gmt_create, gmt_modified, 
      user_id, action_type, out_biz_id, 
      comment, attributes, status
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=BIGINT}, #{actionType,jdbcType=VARCHAR}, #{outBizId,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{attributes,jdbcType=CHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.softmall.core.dao.dataobject.UserActionDO">
        insert into user_action
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="actionType != null">
                action_type,
            </if>
            <if test="outBizId != null">
                out_biz_id,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="attributes != null">
                attributes,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="actionType != null">
                #{actionType,jdbcType=VARCHAR},
            </if>
            <if test="outBizId != null">
                #{outBizId,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="attributes != null">
                #{attributes,jdbcType=CHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.softmall.core.dao.dataobject.UserActionDO">
        update user_action
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="actionType != null">
                action_type = #{actionType,jdbcType=VARCHAR},
            </if>
            <if test="outBizId != null">
                out_biz_id = #{outBizId,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="attributes != null">
                attributes = #{attributes,jdbcType=CHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.softmall.core.dao.dataobject.UserActionDO">
    update user_action
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      action_type = #{actionType,jdbcType=VARCHAR},
      out_biz_id = #{outBizId,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      attributes = #{attributes,jdbcType=CHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>