<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gg.core.dao.mapper.MarketCenterMapper">
  <resultMap id="BaseResultMap" type="com.gg.core.dao.dataobject.MarketCenter">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="discount_fee" jdbcType="DECIMAL" property="discountFee" />
    <result column="seller_id" jdbcType="BIGINT" property="sellerId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="activity_stk_count" jdbcType="BIGINT" property="activityStkCount" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="attributes" jdbcType="CHAR" property="attributes" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, item_id, discount_fee, seller_id, activity_name, activity_stk_count, 
    start_time, end_time, attributes, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from market_center
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from market_center
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gg.core.dao.dataobject.MarketCenter">
    insert into market_center (id, gmt_create, gmt_modified, 
      item_id, discount_fee, seller_id, 
      activity_name, activity_stk_count, start_time, 
      end_time, attributes, status
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{itemId,jdbcType=BIGINT}, #{discountFee,jdbcType=DECIMAL}, #{sellerId,jdbcType=BIGINT}, 
      #{activityName,jdbcType=VARCHAR}, #{activityStkCount,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{attributes,jdbcType=CHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gg.core.dao.dataobject.MarketCenter">
    insert into market_center
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="discountFee != null">
        discount_fee,
      </if>
      <if test="sellerId != null">
        seller_id,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="activityStkCount != null">
        activity_stk_count,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="attributes != null">
        attributes,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="discountFee != null">
        #{discountFee,jdbcType=DECIMAL},
      </if>
      <if test="sellerId != null">
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityStkCount != null">
        #{activityStkCount,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attributes != null">
        #{attributes,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gg.core.dao.dataobject.MarketCenter">
    update market_center
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="discountFee != null">
        discount_fee = #{discountFee,jdbcType=DECIMAL},
      </if>
      <if test="sellerId != null">
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityStkCount != null">
        activity_stk_count = #{activityStkCount,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attributes != null">
        attributes = #{attributes,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gg.core.dao.dataobject.MarketCenter">
    update market_center
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      item_id = #{itemId,jdbcType=BIGINT},
      discount_fee = #{discountFee,jdbcType=DECIMAL},
      seller_id = #{sellerId,jdbcType=BIGINT},
      activity_name = #{activityName,jdbcType=VARCHAR},
      activity_stk_count = #{activityStkCount,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      attributes = #{attributes,jdbcType=CHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>